<app-header></app-header>

<app-character-image
  [characterName]="character.name"
  [imageUrl]="character.image"
  [backgroundColor]="predefinedColors[1]">
</app-character-image>

<app-section-title position="left" text="BASE HISTORY"></app-section-title>

<app-character-text
  [historyText]="character.description || 'No history available'"
></app-character-text>

<app-section-title position="center" text="RELATED CHARACTERS"></app-section-title>

<div class="center-container">
  <app-character-card
    *ngFor="let character of relatedCharacters"
    [imageUrl]="character.image"
    [superheroName]="character.name"
    [characterName]="character.realName || character.name"
  ></app-character-card>
</div>

<app-section-title position="left" text="COMICS"></app-section-title>

<div class="center-container">
  <app-comic-card
    *ngFor="let comic of comics"
    [imageUrl]="comic.cover"
    [title]="comic.title"
    [comicId]="comic.id"
  ></app-comic-card>
</div>

<app-footer></app-footer>
