<div class="comparison-container">
  <app-premium-plan-monthly
    [title]="planMonthlyComponent.title"
    [description]="planMonthlyComponent.description"
    [backgroundSection]="planMonthlyComponent.backgroundSection"
    [backgroundPrice]="planMonthlyComponent.backgroundPrice"
    [price]="planMonthlyComponent.price">
  </app-premium-plan-monthly>
  <div class="img-comparison-container">
    <img src="assets/plan-versus.svg" class="img-comparison" alt="vs">
  </div>
  <app-premium-plan-monthly
    [title]="planYearlyComponent.title"
    [description]="planYearlyComponent.description"
    [backgroundSection]="planYearlyComponent.backgroundSection"
    [backgroundPrice]="planYearlyComponent.backgroundPrice"
    [price]="planYearlyComponent.price">
  </app-premium-plan-monthly>
</div>
