$image-weight: 45vw;
$image-height: 45vh;

@mixin flex-column() {
  display: flex;
  flex-direction: row;
}

.comparison-container {
  @include flex-column();
  position: relative;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  .img-comparison-container {
    position: absolute;
    top: 50%;
    left: 50.5%;
    transform: translate(-50%, -50%);
  }

  .img-comparison {
    width: $image-weight;
    height: $image-height;
  }
}
