<app-header></app-header>
<article class="news-article" *ngIf="news">
  <div class="article-header">
    <h1 id="article-title">{{ news.title }}</h1>
    <p id="article-author">by {{ news.author }}</p>
  </div>
  <figure class="article-image">
    <img [src]="news.image" [alt]="news.title">
  </figure>
  <div class="icon" id="share-icon">
    <img [src]="img_share" (click)="copyLink()" alt="Share Icon">
  </div>
  <article class="article-content">
    <p id="article-content">{{ news.content }}</p>
  </article>
</article>
<app-footer></app-footer>
