$title-size: 2rem;
$title-weight: bold;

$description-size: 1rem;
$description-weight: bold;

@mixin flex-row() {
  justify-content: center;
  flex-direction: row;
}

.free-plan-container {
  @include flex-row();
  width: 100%;

  .free-plan-description-container {
    justify-content: center;
    text-align: center;
    width: 80%;

    #free-plan-title {
      font-size: $title-size;
      font-weight: $title-weight;
    }

    #free-plan-description {
      margin-top: 1.2vh;
      font-size: $description-size;
      font-weight: $description-weight;
    }
  }

  .free-plan-button-container {
    width: 30%;
  }
}


