<div class="comments-section">
  <div class="center-container">
    <app-button text="{{ 'chat.addYourComment' | translate }}" (click)="toggleCommentForm()"></app-button>
  </div>

  <div class="center-container">
    <div *ngIf="showCommentForm" class="comment-form">
      <textarea
        [(ngModel)]="newCommentContent"
        [placeholder]="'chat.writeYourComment' | translate"
        class="comment-textarea"
      ></textarea>
      <div class="form-buttons">
        <button (click)="addComment()">{{ 'chat.submit' | translate }}</button>
        <button class="cancel-btn" (click)="toggleCommentForm()">{{ 'chat.cancel' | translate }}</button>
      </div>
    </div>

    <div *ngIf="isLoading" class="loading">
      <p>{{ 'chat.loadingComments' | translate }}</p>
    </div>

    <div *ngIf="!isLoading" class="comments-list">
      <app-chat-comment
        *ngFor="let comment of comments"
        [comment]="comment"
        [comicId]="discussionId"
        [currentUserId]="currentUserId"
        (deleteEvent)="onDeleteComment($event)"
        (updateEvent)="onUpdateComment($event)"
      ></app-chat-comment>
    </div>
  </div>
</div>
