.discussion-form {
  width: 60vw;
  background-color: #f8f9fa;
  padding: 2vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-bottom: 1vh;
  animation: fadeIn 0.3s ease-in-out;

  .discussion-textarea {
    width: 100%;
    min-height: 10vh;
    resize: vertical;
    padding: 0.5vh;
    border: 1px solid #ced4da;
    font-size: 16px;
    font-family: inherit;

    &:focus {
      outline: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }
  .discussiontitle-textarea {
    width: 100%;
    min-height: 5vh;
    resize: vertical;
    padding: 6px;
    border: 1px solid #ced4da;
    font-size: 2.5vh;
    font-family: inherit;

    &:focus {
      outline: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
  }


  .form-buttons {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: flex-end;
  }

  button {
    padding: 8px 16px;
    margin: 2px;
    font-size: 14px;
    width: 20%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
    }

    &:first-of-type {
      background-color: #28a745;
      color: white;

      &:hover {
        background-color: #218838;
      }
    }

    &.cancel-btn {
      background-color: #dc3545;
      color: white;

      &:hover {
        background-color: #c82333;
      }
    }
  }
}
