<app-header></app-header>

<app-comic-cover *ngIf="cover"  [comicCoverUrl]="cover" (click)="callToRead()"></app-comic-cover>

<app-comic-description
  *ngIf="title"
  [title]="title"
  [synopsis]="synopsis"
  [author]="author"
  [genre]="genre"
  [releaseDate]="releaseDate"
></app-comic-description>

<div class="center-container" style="margin-bottom: 3vh;">
  <app-button text="READ THE COMIC"
              (click)="callToRead()">
  </app-button>
</div>

<div class="center-container" *ngIf="characters.length > 0">
  <p>COMIC CHARACTERS</p>
</div>

<div class="center-container" *ngIf="characters.length > 0">
  <app-character-card
    *ngFor="let character of characters"
    [imageUrl]="character.image"
    [superheroName]="character.characterName"
    [characterName]="character.name"
    [characterId]="character.id"
  ></app-character-card>
</div>

<app-comic-status
  *ngIf="status"
  [status]="status"
  [rating]="rating"
></app-comic-status>

<app-footer></app-footer>
