<app-header></app-header>

<div class="comic-page" *ngIf="comic">
  <div class="comic-cover-wrapper">
    <div class="comic-cover-image" [ngClass]="{'restricted': !canRead}" (click)="callToRead()">
      <img [src]="comic.cover" alt="Comic Cover" />
    </div>
    <img
      *ngIf="!canRead"
      [src]="getPegiIconUrl()"
      class="pegi-icon"
      alt="PEGI Rating"
    />
  </div>

  <div class="icons-section">
    <app-action-icons [comic]="comic"></app-action-icons>
  </div>

  <app-comic-description
    [title]="comic.title"
    [synopsis]="comic.synopsis"
    [author]="comic.author"
    [authorId]="comic.author_id ? comic.author_id.toString() : ''"
    [genre]="Array.isArray(comic.genre) ? comic.genre.join(', ') : comic.genre"
    [releaseDate]="comic.published">
  </app-comic-description>

  <div class="read-button-container" *ngIf="user">
    <app-button
      [text]="'comic.read_button' | translate"
      [ngClass]="{'restricted': !canRead}"
      (click)="callToRead()">
    </app-button>
    <p *ngIf="!canRead" class="error-message">
      {{ 'comic.age_restriction' | translate:{age: comic?.pegi} }}
    </p>
  </div>

  <div class="center-container" *ngIf="characters.length > 0">
    <p>{{ 'comic.characters' | translate }}</p>
  </div>

  <div class="center-container" *ngIf="characters.length > 0">
    <app-character-card
      *ngFor="let character of characters"
      [imageUrl]="character.image"
      [superheroName]="character.characterName"
      [characterName]="character.name"
      [characterId]="character.id">
    </app-character-card>
  </div>

  <app-comic-status
    [status]="comic.state"
    [rating]="comic.rating">
  </app-comic-status>
</div>

<app-footer></app-footer>
