<app-header-backlink></app-header-backlink>
<div class="user-page" *ngIf="user">
  <div class="user-info">
    <div class="profile-image-container">
      <img class="userImage" *ngIf="userData?.imageUrl" [src]="userData?.imageUrl">
      <img class="userImage" *ngIf="!userData?.imageUrl" src="assets/images/default-profile-icon.jpg">
      <div class="image-upload-overlay" (click)="openFileSelector()">
        <div class="upload-icon" [class.uploading]="isUploading">
          <span *ngIf="!isUploading">📷</span>
          <span *ngIf="isUploading">⏳</span>
        </div>
      </div>
    </div>

    <div class="userNameBar">
      <div *ngIf="isEditingUsername; else displayUsername" class="edit-username-container">
        <input type="text" [(ngModel)]="this.userDataEdit.username" class="edit-username-input" placeholder="Username" (keyup.enter)="saveUsername()">
        <div class="edit-actions">
          <button class="action-button save-button" (click)="saveUsername()">✓</button>
          <button class="action-button cancel-button" (click)="cancelEdit()">✗</button>
        </div>
      </div>

      <ng-template #displayUsername>
        <p class="userName">{{userData?.username}}</p>
        <button class="pencilIcon" (click)="toggleUsernameEdit()">
          <img class="icon" src="pencilIcon.png">
        </button>
      </ng-template>

      <button class="bellIcon">
        <img class="icon" src="bellIcon.png">
      </button>
    </div>

    <div class="userDescriptionSection">
      <div *ngIf="isEditingDescription; else displayDescription" class="edit-description-container">
        <textarea [(ngModel)]="userDataEdit.description" class="edit-description-input"
                  placeholder="Add description about you" (keyup.enter)="saveDescription()"></textarea>
        <div class="edit-actions">
          <button class="action-button save-button" (click)="saveDescription()">✓</button>
          <button class="action-button cancel-button" (click)="cancelEdit()">✗</button>
        </div>
      </div>

      <ng-template #displayDescription>
        <div *ngIf="hasDescription(); else addDescription" class="description-container">
          <div class="description-editable" (click)="toggleDescriptionEdit()">
            <p class="userDescription">{{userData?.description}}</p>
            <span class="edit-hint">click description to edit</span>
          </div>
        </div>

        <ng-template #addDescription>
          <button class="add-description-button" (click)="toggleDescriptionEdit()">
            add description
          </button>
        </ng-template>
      </ng-template>
    </div>

    <div class="subscriptionBar">
      <button class="subscribeButton">
        {{ subscriptionStatus === 'none' ? 'Activate Free Plan' : 'Active Subscription Plan' }}
      </button>
      <button class="cancelButton" (click)="openModal()"><span style="color: red">Cancel subscription</span></button>
    </div>
  </div>

  <div class="options-container">
    <div class=center-container>
      <app-profile-option imageURL="favouritesIcon.png" optionName="SAVED" routerLink="/saved-comics-user"></app-profile-option>
      <app-profile-option imageURL="myComicsIcon.png" optionName="MY COMICS" routerLink="/uploaded-comics-user"></app-profile-option>
      <app-profile-option imageURL="wishlistIcon.png" optionName="LIKES" routerLink="/likes-comics-user"></app-profile-option>
    </div>
  </div>

  <div class="center-container">
    <app-user-metrics value="{{this.savedComicsCount}}" title="Saved Comics"></app-user-metrics>
    <app-user-metrics value="{{this.uploadedComicsCount}}" title="Uploaded Comics"></app-user-metrics>
    <app-user-metrics value="{{this.likedComicsCount}}" title="Liked Comics"></app-user-metrics>
  </div>

  <app-button text="UPLOAD A COMIC" buttonWidth="30rem" buttonHeight="5rem" (click)="callToRead()"></app-button>
</div>
