@import '../../../themes/themes';

$background-color:  var(--white);
$bold-color: var(--black);

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row($justify: space-between, $align: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

.summary-buy-container {
  background-color: $background-color;
  justify-self: center;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 10px 15px var(--shadow);
  width: 22vw;
  color: var(--text-color);
  margin-bottom: 2vh;
  font-family: $font-family;

  .summary-header {
    margin-bottom: 1.5rem;

    #header-title {
      font-size: 1.2rem;
      font-weight: 600;
      color: $bold-color;
    }
  }

  .summary-content {
    @include flex-row(flex-start, flex-start);
    gap: 1.5rem;

    .summary-buy {
      margin-top: 1vh;
      @include flex-row(space-between, center);
      width: 100%;

      #summary-subscription {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        display: flex;
        justify-self: center;
        flex-wrap: wrap;
        text-align: left;
      }

      #price-subscription {
        margin-top: 0.5rem;
        font-weight: bold;
        font-size: 1.1rem;
        color: $bold-color;
        align-self: flex-end;
      }
    }
  }
}

@media (max-width: 900px) {
  .summary-buy-container {
    width: 75%;
  }

  .summary-content {
    flex-direction: column;

    .subscription-figure {
      display: none;
    }

    .summary-buy {
      #summary-subscription {
        font-size: 1.2rem;
      }

      #price-subscription {
        font-size: 1.2rem;
        text-align: right;
      }
    }
  }
}

@media (max-width: 600px) {
  .summary-buy-container {
    width: 70%;
    padding: 1.5rem;
  }

  .summary-content {
    gap: 0.5rem;

    .summary-buy {
      flex-direction: column;
      align-items: flex-start;

      #summary-subscription {
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
      }

      #price-subscription {
        font-size: 1.2rem;
        text-align: left;
      }
    }
  }
}
