<div class="summary-buy-container">
  <div class="summary-header">
    <h1 id="header-title"> {{ title }} </h1>
  </div>
  <div class="summary-content">
    <figure class="subscription-figure">
      <img id="subscription-img" src="{{ imageSrc }}">
      <figcaption id="subscription-caption"> {{ figCaption }} </figcaption>
    </figure>
    <div class="summary-buy">
      <div class="summary-subscription-container">
        <h2 id="summary-subscription"> {{ subscription }} </h2>
      </div>
      <p id="price-subscription"> {{ price }} </p>
    </div>
  </div>
</div>
