<nav class="main-nav" aria-label="Main Navigation">
  <div class="logo-container">
    <a href="">
      <img class="logo-image" src="" alt=""/>
    </a>
  </div>

  <ul class="navigation-menu">
    <li class="navigation-item">
      <a href="">CHARACTERS</a>
    </li>
    <li class="navigation-item">
      <a href="">COMICS</a>
    </li>
    <li class="navigation-item">
      <a href="">NEWS</a>
    </li>
    <li>
      <a routerLink="upload-form">UPLOAD</a>
    </li>
  </ul>

  <div class="auth-links">
    <a href="">Sign up</a>
    <span>/</span>
    <a href="">Login</a>
  </div>

</nav>
