<nav class="main-nav"
     aria-label="Main Navigation"
     [ngClass]="{ 'header-hidden': !isVisible, 'header-visible': isVisible }">
  <div class="nav-content">
    <div class="logo-container">
      <a routerLink="">
        <img class="logo-image" src="/favicon.ico" alt="Logo" />
      </a>
    </div>

    <button class="mobile-menu-toggle" (click)="toggleMobileMenu()" *ngIf="isMobile">
      <span class="menu-icon" [ngClass]="{ 'open': mobileMenuOpen }"></span>
    </button>

    <ul class="navigation-menu">
      <li class="navigation-item">
        <a [routerLink]="['/search-page']" [queryParams]="{ option: 'characters' }">{{ 'HEADER.CHARACTERS' | translate }}</a>
      </li>
      <li class="navigation-item">
        <a [routerLink]="['/search-page']" [queryParams]="{ option: 'comic' }">{{ 'HEADER.COMICS' | translate }}</a>
      </li>
      <li class="navigation-item">
        <a [routerLink]="['/search-page']" [queryParams]="{ option: 'news' }">{{ 'HEADER.NEWS' | translate }}</a>
      </li>
      <li class="navigation-item">
        <a [routerLink]="['/community']" [queryParams]="{ option: 'community' }">{{ 'HEADER.COMMUNITY' | translate }}</a>
      </li>
      <li class="navigation-item" *ngIf="user">
        <a routerLink="/upload-form">UPLOAD</a>
      </li>
      <li class="navigation-item" *ngIf="!user">
        <a routerLink="/login">{{ 'HEADER.SUBSCRIPTION' | translate }}</a>
      </li>
      <li class="navigation-item" *ngIf="user">
        <a routerLink="/subscription-plans">{{ 'HEADER.SUBSCRIPTION' | translate }}</a>
      </li>
      <li class="navigation-item">
        <a (click)="toggleTheme()">
          <span *ngIf="isDarkMode; else lightModeIcon">{{ 'HEADER.LIGHT_MODE' | translate }}</span>
          <ng-template #lightModeIcon>{{ 'HEADER.DARK_MODE' | translate }}</ng-template>
        </a>
      </li>
    </ul>

    <div class="auth-links">
      <ng-container *ngIf="!user">
        <a routerLink="/register">{{ 'HEADER.SIGN_UP' | translate }}</a>
        <a routerLink="/login">{{ 'HEADER.LOGIN' | translate }}</a>
      </ng-container>

      <ng-container *ngIf="user">
        <div class="profile-container" (click)="toggleDropdown()" #profileMenu>
          <div class="profile-content">
            <img class="profile-image" [src]="userData?.imageUrl || '../../assets/default-user-icon.png'" alt="Profile">
            <span class="arrow">{{ showDropdown? '▶' : '▼' }}</span>
          </div>
          <div class="dropdown-menu" [ngClass]="{ 'dropdown-visible': showDropdown }">
            <a routerLink="/user-page" class="dropdown-item">{{ userData?.username || 'Profile' }}</a>
            <a (click)="toggleTheme()" class="dropdown-item">
              <span *ngIf="isDarkMode; else lightModeIcon">{{ 'HEADER.LIGHT_MODE' | translate }}</span>
              <ng-template #lightModeIcon>{{ 'HEADER.DARK_MODE' | translate }}</ng-template>
            </a>
            <a (click)="logout()" class="dropdown-item logout">{{ 'HEADER.LOGOUT' | translate }}</a>
          </div>
        </div>
      </ng-container>
      <div class="language-selector" (click)="toggleDropdownLang()">
        <div class="selected-language">
          <img [src]="'assets/flags/' + currentLang + '.svg'" alt="{{ currentLang }}" />
          <span class="arrow">{{ dropdownLangOpen? '▶' : '▼' }}</span>
        </div>
        <ul class="language-dropdown" *ngIf="dropdownLangOpen">
          <li *ngFor="let lang of languages" (click)="selectLanguage(lang.code)">
            <img [src]="'assets/flags/' + lang.code + '.svg'" [alt]="lang.code" />
            <span>{{ lang.name }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mobile-menu" [ngClass]="{ 'mobile-menu-open': mobileMenuOpen }" *ngIf="isMobile">
    <ng-container *ngIf="user">
      <div class="mobile-user-profile">
        <img class="profile-image" [src]="userData?.imageUrl || '../../assets/default-user-icon.png'" alt="Profile" />
        <div class="username-text" routerLink="/user-page">{{ userData?.username || 'HEADER.PROFILE' | translate }}</div>
        <a (click)="toggleTheme()" class="dropdown-item">
          <span *ngIf="isDarkMode; else lightModeIcon">{{ 'HEADER.LIGHT_MODE' | translate }}</span>
          <ng-template #lightModeIcon>{{ 'HEADER.DARK_MODE' | translate }}</ng-template>
        </a>
        <a class="dropdown-item logout" (click)="logout()">{{ 'HEADER.LOGOUT' | translate }}</a>
      </div>
    </ng-container>

    <ul class="mobile-navigation-menu">
      <div class="language-selector" (click)="toggleDropdownLang()">
        <div class="selected-language">
          <img [src]="'assets/flags/' + currentLang + '.svg'" alt="{{ currentLang }}" />
          <span>{{ getLanguageName(currentLang)}}</span>
          <span class="arrow">{{ dropdownLangOpen? '▶' : '▼' }}</span>
        </div>
        <ul class="language-dropdown" *ngIf="dropdownLangOpen">
          <li *ngFor="let lang of languages" (click)="selectLanguage(lang.code)">
            <img [src]="'assets/flags/' + lang.code + '.svg'" [alt]="lang.code" />
            <span>{{ lang.name }}</span>
          </li>
        </ul>
      </div>
      <li class="mobile-navigation-item" *ngIf="!user">
        <a routerLink="/register">{{ 'HEADER.SIGN_UP' | translate }}</a>
      </li>
      <li class="mobile-navigation-item" *ngIf="!user">
        <a routerLink="/login">{{ 'HEADER.LOGIN' | translate }}</a>
      </li>
      <li class="mobile-navigation-item">
        <a [routerLink]="['/search-page']" [queryParams]="{ option: 'characters' }">{{ 'HEADER.CHARACTERS' | translate }}</a>
      </li>
      <li class="mobile-navigation-item">
        <a [routerLink]="['/search-page']" [queryParams]="{ option: 'comic' }">{{ 'HEADER.COMICS' | translate }}</a>
      </li>
      <li class="mobile-navigation-item">
        <a [routerLink]="['/search-page']" [queryParams]="{ option: 'news' }">{{ 'HEADER.NEWS' | translate }}</a>
      </li>
      <li class="mobile-navigation-item">
        <a [routerLink]="['/community']" [queryParams]="{ option: 'community' }">{{ 'HEADER.COMMUNITY' | translate }}</a>
      <li class="mobile-navigation-item">
        <a (click)="toggleTheme()">
          <span *ngIf="isDarkMode; else lightModeIcon">{{ 'HEADER.LIGHT_MODE' | translate }}</span>
          <ng-template #lightModeIcon>{{ 'HEADER.DARK_MODE' | translate }}</ng-template>
        </a>
      </li>
      <li class="mobile-navigation-item" *ngIf="user">
        <a routerLink="/upload-form">UPLOAD</a>
      </li>
      <li class="mobile-navigation-item" *ngIf="!user">
        <a routerLink="/login">{{ 'HEADER.SUBSCRIPTION' | translate }}</a>
      </li>
      <li class="mobile-navigation-item" *ngIf="user">
        <a routerLink="/subscription-plans">{{ 'HEADER.SUBSCRIPTION' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>
<div class="nav-spacer"></div>
