<nav class="main-nav" aria-label="Main Navigation">
  <div class="logo-container">
    <a routerLink="">
      <img class="logo-image" src="" alt=""/>
    </a>
  </div>

  <ul class="navigation-menu">
    <li class="navigation-item">
      <a routerLink="">CHARACTERS</a>
    </li>
    <li class="navigation-item">
      <a routerLink="">COMICS</a>
    </li>
    <li class="navigation-item">
      <a routerLink="">NEWS</a>
    </li>
    <li class="navigation-item">
      <a routerLink="">SUBSCRIPTION</a>
    </li>
  </ul>

  <div class="auth-links">
    <a routerLink="register">Sign up</a>
    <span>/</span>
    <a routerLink="login">Login</a>
  </div>

</nav>
