html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex; /* Organiza el contenedor en una fila (horizontalmente) */
  height: 100vh;
  width: 100%;
}

img {
  float: left;
  height: 100vh; /* La imagen ocupa todo el alto de la pantalla */
  width: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionarse */
}

.form-container {
  display: flex; /* Necesario para usar flexbox */
  align-items: center; /* Centra el formulario verticalmente */
  flex-direction: column;
  background-color: #E76F511A; /* Fondo semitransparente para contraste */
  color: black; /* Texto blanco para contraste */
  height: 100vh; /* El formulario tiene la misma altura que la pantalla */
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra para darle más énfasis */
  border-radius: 10px; /* Bordes redondeados */
  padding-top: 14vh;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container form input,
.form-container form button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

.form-container form input {
  background-color: #ffffff;
  color: #ffffff;
}

.form-container form button {
  background-color: #ffffff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container form button:hover {
  background-color: #45a049;
}

.form-container form input:focus,
.form-container form button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.8);
}

.file-upload {
  background-color: #D9D9D9;
  width: 30vw;
  height: 20vh;
  padding-left: 14vw;
  position: relative;
  z-index: 3;
  padding-top: 7.5vh;
  margin-bottom: 3vh;

}

.circle {
  width: 100px;
  height: 100px;
  background-color: #A9A9A9;
  border-radius: 50%;
  position: absolute;
  top: 5.3vh;
  left: 12.3vw;
  z-index: -1;
}



input{
  width: 30vw;
  height: 3vh;
  margin: 0.5vw;
  border-radius: 1vh;
  text-align: center;
}
