section {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  margin-top: 5%;
  padding: 0.625rem;

  &.align-left {
    justify-content: flex-start;
  }

  &.align-center {
    justify-content: center;
  }

  &.align-right {
    justify-content: flex-end;
  }
}

div {
  width: auto;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #D9D9D9;
  color: #E76F51;
}

.text-left {
  margin-left: 14.5%;
  margin-right: 0;
}

.text-center {
  margin-left: 0;
  margin-right: 0;
}

.text-right {
  margin-right: 14.5%;
  margin-left: 0;
}
