.news-card-container {
  width: 13.75rem;
  min-height: 12.5rem;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  background: white;
  padding: 0.625rem;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  img {
    width: 100%;
    height: 9.375rem;
    object-fit: cover;
    border-radius: 0.25rem;
  }

  .news-card-author {
    font-size: 0.625rem;
    font-weight: bold;
    color: gray;
    margin-top: 0.3125rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
