div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background-color: #D9D9D9;
  color: #E76F51;
  margin-top: 5%;
  padding: 10px;
}

.text-left {
  margin-left: 5%;
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
