.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 1rem;
}

.comic-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-group {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.profile-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

.image-container {
  width: 10rem;
  height: 10rem;
  background-color: #737373;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-container:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.option-image {
  width: 50%;
  height: 50%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover .option-image {
  transform: translateY(-5px);
}

.edit-button,
.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;
}

.edit-button {
  background-color: #4caf50;
}

.edit-button:hover {
  background-color: #45a049;
  transform: translateY(-3px);
}

.delete-button {
  background-color: #ff0029;
}

.delete-button:hover {
  background-color: #e60026;
  transform: translateY(-3px);
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 2;
  color: white;
}
