@import '../../../themes/themes';

.comment-container {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2vw;
  padding: 3vh 3vw;
  background-color: var(--secondary);
  margin-bottom: 1vh;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 8px var(--shadow);

  &:hover {
    transform: scale(1.02);
  }

  .user-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }

  .comment-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    font-family: $font-family;

    .username {
      font-size: 1.2rem;
      margin: 0 0 0.5vh 0;
      font-weight: bold;
    }

    .timestamp {
      font-size: 0.9rem;
      color: var(--text-color);
      margin: 0 0 1vh 0;
    }

    .comment-text {
      font-size: 1rem;
      margin: 0;
      line-height: 1.5;
      word-wrap: break-word;
      width: 100%;
    }

    .comment-actions {
      margin-top: 1vh;
      display: flex;
      gap: 1vw;

      button {
        background: none;
        border: none;
        color: var(--black);
        cursor: pointer;
        font-size: 0.9rem;
        font-family: $font-family;

        &[disabled] {
          color: var(--gray);
          cursor: not-allowed;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .reply-form {
      margin: 1vh 0;
      width: 100%;

      .reply-textarea {
        width: 100%;
        height: 60px;
        margin-bottom: 1vh;
        resize: none;
        padding: 0.5rem;
        border: 1px solid var(--gray);
        font-family: $font-family;
      }

      button {
        background-color: var(--primary);
        color: var(--white);
        padding: 0.5rem 1rem;
        margin-right: 0.5rem;
        border: none;
        cursor: pointer;
        font-family: $font-family;

        &:hover {
          background-color: var(--primary-dark);
        }
      }
    }

    .edit-textarea {
      width: 100%;
      height: 60px;
      margin-bottom: 1vh;
      resize: none;
      padding: 0.5rem;
      border: 1px solid var(--gray);
      font-family: $font-family;
    }
  }
}

.replies-container {
  width: 100%;
  max-width: 560px;
  margin-left: 4vw;
  margin-top: 1vh;

  .replies-container {
    margin-left: 0;
    max-width: 100%;
  }
}

.reply-wrapper {
  position: relative;
  margin-bottom: 1vh;
}

.reply-indicator {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-bottom: 0.5vh;
  display: flex;
  align-items: center;
  font-family: $font-family;

  .reply-arrow {
    color: var(--blue);
    margin-right: 5px;
  }

  .reply-username {
    font-weight: 600;
    color: var(--text-color);
  }
}

.view-more-btn {
  border: none;
  color: var(--text-color);
  cursor: pointer;
  font-size: 0.9rem;
  margin-top: 1vh;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 121%;
  background-color: var(--highlight-color);
  font-family: $font-family;

  &:hover {
    background-color: var(--highlight-color);
  }
}
