$background-color: #eee;
$background-color-form: #fff;
$bold-color: #000;

@mixin flex-column() {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-row() {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.payment-form-container {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  #header-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: $bold-color;
    margin-bottom: 4vh;
  }

  .payment-form {
    background-color: $background-color-form;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
    padding: 1.2vh 1.2vw;
    width: 22vw;

    .flex-box {
      @include flex-row();
      display: flex;
      gap: 15px;
    }

    .card-container {
      display: flex;
      justify-content: center;
      margin-bottom: 4vh;
    }
  }

  .input-box-container {
    @include flex-column();
    margin-top: 1vh;
    font-family: 'Roboto', sans-serif;

    label {
      margin-bottom: 0.5vh;
      font-size: 0.97rem;
    }

    input, select {
      width: 100%;
      height: 3.7vh;
      padding: 0.5vw;
      border-radius: 0.2vw;
      border: 1px solid rgba(0,0,0,0.3);
      color: #444
    }

    input:focus, select:focus {
      outline: none;
    }
  }

  .button-box-container {
    margin-top: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
