@import '../../../themes/themes';

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: fit-content;
  background: var(--secondary);
  margin-top: 15vh;
  justify-content: center;
}


input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  width: 30vw;
  background: var(--secondary);

}

.filter-btn, .search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  color:  var(--text-color);
}

.filter-btn:hover, .search-btn:hover {
  color: var(--blue);
}
