@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&family=Raleway:wght@400;500;600;700;800&display=swap');

:host {
  display: block;
  margin: 0 30px;
}

.card {
  height: 500px;
  width: 250px;
  margin-top: 50px;
  background-color: #fff;
  border: 5px solid black;
  box-shadow: 0 0 0 7px #fff, 0 0 8px 5px #000;

  .card-image {
    height: 72%;
    position: relative;
    border-bottom: 5px solid #000;

    img {
      width: 130%;
      height: 90%;
      margin-top: 20px;
      margin-left: -30px;
    }
  }

  .card-text {
    h2 {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 3rem;
      letter-spacing: 15px;
      text-align: center;
      margin-left: 10px;
      color: #2E5579;
    }

    > div {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      padding-top: 5px;

      > div:first-child {
        display: flex;
        flex-direction: column;

        span {
          font-family: 'Raleway', serif;
          font-size: 1.5rem;
          line-height: 30px;
          font-weight: 500;
        }
      }

      > div:last-child {
        display: flex;

        span:first-child {
          font-family: 'Raleway', serif;
          font-size: 5rem;
          font-weight: 800;
          line-height: 60px;
        }

        span:last-child {
          font-family: 'Raleway', serif;
          font-weight: 600;
          font-size: 1.3rem;
        }
      }
    }
  }
}
