<app-header></app-header>
<div class="center-container"*ngIf="option === 'comic'">
  <div class="search-bar">
    <app-search-bar (search)="handleComicSearch($event)" (filter)="handleFilter()"></app-search-bar>
  </div>
  <div class="center-container">
    <app-comic-card *ngFor="let comic of comics" [imageUrl]="comic.cover" [title]="comic.title" [comicId]="comic.id"></app-comic-card>
  </div>
</div>

<div class="center-container" *ngIf="option === 'news'">
  <div class="search-bar" >
    <app-search-bar (search)="handleNewsSearch($event)" (filter)="handleFilter()"></app-search-bar>
  </div>
  <div class="center-container">
    <app-news-card *ngFor="let new of news" [imageUrl]="new.imageUrl" [author]="new.author" [title]="new.title"></app-news-card>
  </div>
</div>




<div class="center-container" *ngIf="option === 'characters'">
  <div class="search-bar">
    <app-search-bar (search)="handleCharacterSearch($event)" (filter)="handleFilter()"></app-search-bar>
  </div>
      <div class="center-container">
        <app-character-card
          *ngFor="let character of selectedCharacters"
          [imageUrl]="character.image"
          [superheroName]="character.characterName"
          [characterName]="character.name"
          [characterId]="character.id"
        >
        </app-character-card>
      </div>

</div>




