.character-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.overflow-container {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  flex-direction: row;
  max-width: 62.5rem;
  height: 30.5rem;
  overflow: visible;
  border-radius: 0.25rem;
}

.overflow-image {
  position: absolute;
  max-width: 130%;
  max-height: 130%;
  top: -2%;
  z-index: 10;
  width: auto;
  height: auto;
  object-fit: contain;
}

.character-name {
  margin-top: 15vh;
  margin-bottom: 6vh;
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  color: #E76F51;
}
