@import '../../../themes/themes';

.button-general {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: var(--white);

  &:hover {
    background-color: var(--primary-dark);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: var(--gray);
    cursor: not-allowed;
    opacity: 0.6;
  }
}
