<aside class="aside-image">
  <img class="background-aside-image" [src]="imageSource" alt="Loading Image.">
</aside>

<main class="register-container">
  <div class="register-header">
    <div class="register-logo">
      <img class="logo-image" [src]="logoSource" alt="Loading Image.">
    </div>
    <h1>{{ 'signUp.title' | translate }}</h1>
  </div>

  <nav aria-label="Go back">
    <a id="back-link" routerLink="#" onclick="history.back(); return false"> {{ 'signUp.goBack' | translate }}</a>
  </nav>

  <section class="register-form-container">
    <form class="register-form" id="register-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="name-group">
        <div>
          <input
            type="text"
            id="name"
            name="first-name"
            [(ngModel)]="firstName"
            autocomplete="off"
            [placeholder]="'signUp.firstName' | translate"
            required
            pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ]{2,50}$"
            #firstNameInput="ngModel"
          >
          <div *ngIf="formSubmitted && firstNameInput.invalid" class="error-message">
            {{ getErrorMessage(firstNameInput, { required: ('signUp.errors.firstNameRequired' | translate), pattern: ('signUp.errors.firstNamePattern' | translate) }) }}
          </div>
        </div>

        <div>
          <input
            type="text"
            id="surname"
            name="last-name"
            [(ngModel)]="lastName"
            [placeholder]="'signUp.lastName' | translate"
            required
            pattern="^[A-Za-zÁÉÍÓÚáéíóúÑñ]{2,50}$"
            #lastNameInput="ngModel"
          >
          <div *ngIf="formSubmitted && lastNameInput.invalid" class="error-message">
            {{ getErrorMessage(lastNameInput, { required: ('signUp.errors.lastNameRequired' | translate), pattern: ('signUp.errors.lastNamePattern' | translate) }) }}
          </div>
        </div>
      </div>

      <div>
        <input
          type="date"
          id="birthdate"
          name="birthdate"
          [(ngModel)]="birthdate"
          [placeholder]="'signUp.birthdate' | translate"
          required
          #birthdateInput="ngModel"
        >
        <div *ngIf="formSubmitted && birthdateInput.invalid" class="error-message">
          {{ getErrorMessage(birthdateInput, { required: ('signUp.errors.birthdateRequired' | translate) }) }}
        </div>
      </div>

      <input
        type="text"
        id="email"
        name="email"
        [(ngModel)]="email"
        [placeholder]="'signUp.email' | translate"
        required
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        #emailInput="ngModel"
      >
      <div *ngIf="formSubmitted && emailInput.invalid" class="error-message">
        {{ getErrorMessage(emailInput, { required: ('signUp.errors.emailRequired' | translate), pattern: ('signUp.errors.emailPattern' | translate) }) }}
      </div>

      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        [placeholder]="'signUp.username' | translate"
        required
        pattern="^[a-zA-Z0-9_]{4,16}$"
        #usernameInput="ngModel"
      >
      <div *ngIf="formSubmitted && usernameInput.invalid" class="error-message">
        {{ getErrorMessage(usernameInput, { required: ('signUp.errors.usernameRequired' | translate), pattern: ('signUp.errors.usernamePattern' | translate) }) }}
      </div>

      <div class="password-container">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          id="password"
          name="password"
          [(ngModel)]="password"
          [placeholder]="'signUp.password' | translate"
          autocomplete="off"
          required
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z\d])[A-Za-z\d\S]{8,}$"
          #passwordInput="ngModel"
        >
        <span class="toggle-password" (click)="togglePasswordVisibility()">
          <img [src]="passwordVisible ? eyeOpenIcon : eyeClosedIcon" alt="Visibility">
        </span>
      </div>
      <div *ngIf="formSubmitted && passwordInput.invalid" class="error-message">
        {{ getErrorMessage(passwordInput, { required: ('signUp.errors.passwordRequired' | translate), pattern: ('signUp.errors.passwordPattern' | translate) }) }}
      </div>

      <div class="password-container">
        <input
          [type]="confirmPasswordVisible ? 'text' : 'password'"
          id="confirm-password"
          name="confirm-password"
          autocomplete="off"
          [(ngModel)]="confirmPassword"
          [placeholder]="'signUp.confirmPassword' | translate"
          required
          #confirmPasswordInput="ngModel"
        >
        <span class="toggle-password" (click)="toggleConfirmPasswordVisibility()">
          <img [src]="confirmPasswordVisible ? eyeOpenIcon : eyeClosedIcon" alt="Visibility">
        </span>
      </div>
      <div *ngIf="formSubmitted && confirmPasswordInput.invalid" class="error-message">
        {{ getErrorMessage(confirmPasswordInput, { required: ('signUp.errors.confirmPasswordRequired' | translate) }) }}
      </div>

      <div *ngIf="formSubmitted && errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div class="register-btn-container">
        <app-button
          [text]="'signUp.signUpButton' | translate"
          textColor="#fff"
          type="submit"
        ></app-button>
      </div>
    </form>
  </section>

  <footer>
    <p id="sign-in-link">{{ 'signUp.alreadyHaveAccount' | translate }} <a routerLink="/login" id="sign-in-btn">{{ 'signUp.signIn' | translate }}</a></p>
  </footer>
</main>
