@import '../../../themes/themes';

.discussion-chat {
  width: 100%;
  font-size: 3vh;
  place-self: center;
  margin: 5vh;
  text-align: center;
  background: var(--background);
}

.top-control{
margin-top: 15vh;

}
