<app-header></app-header>

<app-landing-carousel
  [items]="carouselItems"
  [autoSlide]="true"
  [slideInterval]="5000">
</app-landing-carousel>

<app-section-title position="left" text="NEW COMICS"></app-section-title>

<div class="center-container">
  <app-comic-card
    *ngFor="let comic of comics | slice: 0:4"
    [imageUrl]="comic.cover"
    [title]="comic.title"
    [comicId]="comic.id">
  </app-comic-card>
</div>

<div class="center-container">
  <app-button text="SHOW MORE"></app-button>
</div>

<app-section-title position="center" text="LATEST NEWS"></app-section-title>

<div class="center-container">
  <app-news-card
    *ngFor="let new of news"
    [imageUrl]="new.imageUrl"
    [author]="new.author"
    [title]="new.title"
  ></app-news-card>
</div>

<div class="center-container">
  <app-button text="SHOW MORE"></app-button>
</div>

<app-section-title position="left" text="CHARACTERS"></app-section-title>

<div class="center-container" *ngIf="selectedCharacters.length >= 3">
  <app-landing-character-card-1
    [imageUrl]="selectedCharacters[1].image"
    [imageAlt]="selectedCharacters[0].name + ' character'"
    [backgroundColor]="selectedCharacters[0].backgroundColor"
    [brandName]="'MARVEL'">
  </app-landing-character-card-1>

  <app-landing-character-card-2
    [imageUrl]="selectedCharacters[1].image"
    [imageAlt]="selectedCharacters[1].name + ' character'"
    [backgroundColor]="selectedCharacters[1].backgroundColor"
    [brandName]="'MARVEL'">
  </app-landing-character-card-2>

  <app-landing-character-card-3
    [imageUrl]="selectedCharacters[2].image"
    [imageAlt]="selectedCharacters[2].name + ' character'"
    [backgroundColor]="selectedCharacters[2].backgroundColor"
    [brandName]="'MARVEL'">
  </app-landing-character-card-3>
</div>

<div class="center-container">
  <p>Meet your favourite characters and their universes.</p>
</div>

<div class="center-container">
  <app-button text="SHOW MORE"></app-button>
</div>

<app-footer></app-footer>
