.carousel-container {
  position: relative;
  margin: 0 auto;
  margin-top: 13vh;
  width: 100%;
  max-width: 70vw;
  overflow: hidden;
  padding-top: 3vh;
}

.carousel-inner {
  position: relative;
  width: 100%;
  height: 70vh;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease;

  &.active {
    opacity: 1;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
}

.carousel-control {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2vw;
  border: none;
  padding: 1.5vh;
  cursor: pointer;
  z-index: 10;

  &.prev {
    left: 1vw;
  }

  &.next {
    right: 1vw;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.carousel-indicators {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1vw;
}

.dot {
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;

  &.active {
    background-color: white;
  }
}
