@import '../../../themes/themes';

.comments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: $font-family;

  .center-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .comment-form {
    width: 75%;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 2px 8px var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    animation: fadeIn 0.3s ease-in-out;

    .comment-textarea {
      width: 100%;
      min-height: 100px;
      resize: vertical;
      padding: 6px;
      border: 1px solid var(--white);
      font-size: 16px;
      font-family: $font-family;

      &:focus {
        outline: none;
        box-shadow: 0 2px 8px var(--shadow);
      }
    }

    .form-buttons {
      display: flex;
      width: 100%;
      padding: 10px;
      justify-content: flex-end;
    }

    button {
      padding: 8px 16px;
      margin: 2px;
      font-size: 14px;
      width: 20%;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: none;
      font-family: $font-family;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 3px var(--focus-blue);
      }

      &:first-of-type {
        background-color: var(--success);
        color: var(--white);

        &:hover {
          background-color: var(--success-dark);
        }
      }

      &.cancel-btn {
        background-color: var(--error);
        color: var(--white);

        &:hover {
          background-color: var(--error-dark);
        }
      }
    }
  }

  .loading {
    text-align: center;
    padding: 20px;
    color: var(--loading-gray);
    font-family: $font-family;
  }

  .comments-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
