@import '../../../themes/themes';

.discussion-container {
  display: flex;
  flex-direction: row;
  place-self: center;
  background-color: var(--secondary);
  width: 70%;
  margin: 2.5vh;
  padding: 2.5vh 0vh 3vh 2vh;
  box-shadow: var(--gray) 0.3vh 0.3vh 5px;
  font-family: $font-family;
}

.discussion-container * {
  flex-basis: 100%;
}

h2 {
  margin-bottom: 0.5vh;
  font-weight: bold;
  min-width: 45vw;
  font-size: 1.4rem;
}

.profile-pic-container {
  place-content: center;
  place-items: center;
  padding: 2.5vh;
  max-width: 5vw;
  max-height: 5vw;
}

.Discussion-part {
  max-width: 55vw;
  min-width: 20vw;
}

.Title-date {
  display: flex;
  flex-direction: row;
}

.Participants {
  color: var(--primary);
  min-width: 45vw;
}

.argument {
  margin: 0 0.2vw;
  padding: 2vh;
  font-weight: normal;
  font-size: 0.9rem;
}

.bottom-discusion {
  display: flex;
  flex-direction: row;
  padding: 1.5vh;
}

.profile-pic {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
