<aside class="aside-image">
  <img class="background-aside-image" [src]="imageSource" alt="{{ 'loginComponent.accessibility.backgroundImage' | translate }}">
</aside>

<main class="login-container">
  <header class="login-header">
    <div class="login-logo">
      <img class="logo-image" [src]="logoSource" alt="{{ 'loginComponent.accessibility.logo' | translate }}">
    </div>
    <h1>{{ 'loginComponent.pageTitle' | translate }}</h1>
  </header>

  <nav aria-label="Go back">
    <a id="back-link" routerLink="#" onclick="history.back(); return false"> {{ 'loginComponent.goBack' | translate }}</a>
  </nav>

  <section class="login-form-container">
    <form class="login-form" id="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        placeholder="{{ 'loginComponent.email' | translate }}"
        required
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        #emailInput="ngModel"
      >
      <div *ngIf="formSubmitted && !isResetPasswordMode && emailInput.invalid" class="error-message">
        {{ getErrorMessage(emailInput, {
        required: ('loginComponent.errors.emailRequired' | translate),
        pattern: ('loginComponent.errors.emailInvalid' | translate)
      }) }}
      </div>

      <div class="password-container">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          id="password"
          name="password"
          [(ngModel)]="password"
          autocomplete="current-password"
          placeholder="{{ 'loginComponent.password' | translate }}"
          required
          #passwordInput="ngModel"
        >
        <span class="toggle-password" (click)="togglePasswordVisibility()">
          <img [src]="passwordVisible ? eyeOpenIcon : eyeClosedIcon" alt="{{ 'loginComponent.accessibility.togglePassword' | translate }}">
        </span>
      </div>
      <div *ngIf="formSubmitted && !isResetPasswordMode && passwordInput.invalid" class="error-message">
        {{ getErrorMessage(passwordInput, { required: ('loginComponent.errors.passwordRequired' | translate) }) }}
      </div>

      <div *ngIf="formSubmitted && errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>

      <div class="login-btn-container">
        <app-button
          [text]="'loginComponent.signIn' | translate"
          textColor="#fff"
          [disabled]="loginForm.invalid"
          type="submit"
        ></app-button>
      </div>
    </form>
  </section>

  <footer class="login-links">
    <p id="sign-up-link">{{ 'loginComponent.noAccount' | translate }} <a routerLink="/register" id="sign-up-btn">{{ 'loginComponent.signUp' | translate }}</a></p>
    <p id="reemail-link">
      {{ 'loginComponent.forgotPassword' | translate }}
      <a routerLink="#" id="reemail-btn" (click)="resetPassword($event)">{{ 'loginComponent.sendEmail' | translate }}</a>
    </p>
  </footer>
</main>
