<app-header-backlink></app-header-backlink>

<div class="followed-authors">
  <div class="imageContainer">
    <img src="authorsIcon.png" alt="authors icon" class="optionImage" />
  </div>
  <h1>{{ 'userProfile.followed' | translate }}</h1>
  <div class="authors-grid" *ngIf="authors.length > 0; else noAuthors">
    <app-author-card
      *ngFor="let author of authors"
      [imageUrl]="author.imageUrl || '/assets/default-user-icon.png'"
      [username]="author.username"
      [authorId]="author.id || ''">
    </app-author-card>
  </div>
  <ng-template #noAuthors>
    <p>{{ 'userProfile.noFollowed' | translate }}</p>
  </ng-template>
</div>
