@import '../../../themes/themes';

.comic-cover-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  padding: 20px;
  border-radius: 10px;

  .comic-cover {
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;

    img {
      width: 100%;
      cursor: pointer;
      height: auto;
      box-shadow: 0 4px 8px var(--shadow);
      border-radius: 5px;
    }
  }
}
