$title-size: 3rem;
$title-weight: bold;
$subtitle-size: 1.2rem;
$title-weight: regular;

#premium-description-title {
  font-size: $title-size;
  font-weight: $title-size;
}

#premium-description-subtitle {
  font-size: $subtitle-size;
  font-weight: $subtitle-size;
}


