<div class="cancel-subscription-modal">
  <div class="cancel-subscription-modal-header">
    <h1 id="cancel-modal-subscription-title"> {{ 'userProfile.modal.title' | translate }} </h1>
    <div class="button-container">
      <app-button
        [text]="'X'"
        [buttonHeight]="'0.5vh'"
        [buttonWidth]="'0.5vw'"
        (buttonClick)="close()">
      </app-button>
    </div>
  </div>
  <div class="cancel-subscription-modal-content">
    <h2 id="cancel-modal-subscription-message"> {{ 'userProfile.modal.message' | translate }} </h2>

    <form class="cancel-modal-subscription-form" [formGroup]="form">
      <input class="input-field"
             type="password"
             placeholder="{{ 'userProfile.modal.password' | translate }}"
             formControlName="password">

      <input class="input-field"
             type="password"
             placeholder="{{ 'userProfile.modal.confirmPassword' | translate }}"
             formControlName="confirmPassword">

      <app-button
        [text]="'userProfile.modal.cancelButton' | translate"
        (click)="confirmCancel()">
      </app-button>
    </form>
  </div>
</div>
