$title-size: 0.6rem;
$title-color: red;
$title-weight: bold;

$subtitle-size: 0.8rem;
$subtitle-color: black;
$subtitle-weight: 400;

$dialog-width: 21.5vw;
$dialog-height: 35vh;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

.cancel-subscription-modal {
  @include flex-column;
  width: $dialog-width;
  height: $dialog-height;
  padding-left: 0.5vw;

  .cancel-subscription-modal-header {
    @include flex-row;
    padding-top: 1vh;
    justify-content: center;
    align-items: center;
    color: $title-color;
    font-size: $title-size;
    font-weight: $title-weight;
    text-align: center;
    width: 100%;
    height: 8vh;
    gap: 0.1vw;

    .button-container {
      left:0;
    }
  }

  .cancel-subscription-modal-content {
    @include flex-column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: $subtitle-size;
    text-align: center;

    #cancel-modal-subscription-message {
      font-weight: $subtitle-weight;
    }

    .cancel-modal-subscription-form {
      @include flex-column;
      justify-content: center;
      align-items: center;
      gap: 2vh;
    }

    .cancel-modal-subscription-form {
      margin-top: 2vh;
    }
  }
}
