h1{
  padding: 15vh 5vh 0 5vh;
}

#pdf-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

}

#PageNumber{
  height: 10vh;
  background-color: transparent;
  border: none;
  place-content: center;
  text-align: center;
  font-size: 5vh;
}

#Pagebuttons{
  width: 100%;
  display: flex;
  flex-direction: row;
  place-content: center;
  place-items: center;
}


canvas {
  margin:2.5vh;
}


.page_button{
  width: 10vh;
  height: 10vh;
  background-color: transparent;
  border: none;
  margin: 0 2vw;
  font-size: 10vh;
}
